body {
    background-color: lightblue;
    position: relative;
}

.container {
    text-align: center;
    
}

h1, h3 {
    text-align: center;
    font-size: 2.3em;
}

button {
    background-color: lightgreen;
    color: black;
    border: solid 1px black;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 12px;
    width: 180px;
    margin: 12px;
    text-align: center;
}

button:hover{
    background-color: white;
    border: solid 1px orange;
    color: orange;

}

p {
    text-align: center;
    font-size: 1.2em;
}